<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-color" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-toggle-color" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="https://en.wikipedia.org/wiki/UEFA_Euro_2016">About Football</a>
                </li>
                <li>
                    <a href="http://www.uefa.com/uefaeuro/season=2016/matches/index.html">Euros Schedule</a>
                </li>
                <li>
                    <a href="http://www.uefa.com/uefaeuro/season=2016/standings/index.html">Euro Standings</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div ng-if="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<!-- Page Content -->
<div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand cup_card">
        <h2 class="mdl-card__title-text">My Football DB</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Login or Sign Up to Get Started
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a href="#/register" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Sign Up!
        </a>
    </div>
</div>
<!-- /.container -->
<div class="container login_element">
    <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input ng-model="username" class="mdl-textfield__input" type="text" id="username" placeholder="Username...">
            <label class="mdl-textfield__label" for="username"></label>
        </div>
        <br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input ng-model="password" class="mdl-textfield__input" type="password" id="password" placeholder="Password...">
            <label class="mdl-textfield__label" for="password"></label>
        </div>
    </form>
    <a ng-click="model.login(username, password)" class="btn btn-primary btn-block">Log Me In</a>
</div>

</body>