<form novalidate name="editWebsiteForm">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text pull-left">
                    <a href="#/user/{{model.userId}}/website" class="navbar-link">
                  <span class="glyphicon glyphicon-chevron-left">
                  </span>
                    </a>
                </p>
                <a class="navbar-brand" >
                    Edit Website
                </a>
                <p class="navbar-text pull-right">
                    <button type="submit" ng-click="editWebsiteForm.$valid && model.updateWebsite(model.websiteId,model.website)" class="navbar-link okButton">
                  <span class="glyphicon glyphicon-ok">
                  </span>
                    </button>
                </p>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="form-group">
            <label for="website-name">Website Name</label>
            <input type="text" class="form-control" id="website-name" ng-model="model.website.name" placeholder="Google" required name="websitename">
            <div ng-show="editWebsiteForm.websitename.$invalid && editWebsiteForm.$submitted" class="message">
                Name is a required field.
            </div>
        </div>
        <div class="form-group">
            <label for="website-description">Website Description</label>
                <textarea rows="4" id="website-description" class="form-control" ng-model="model.website.description" placeholder="Description"></textarea>
        </div>
        <a ng-click="model.deleteWebsite(model.websiteId)" class="btn btn-danger  btn-block">Delete</a>
    </div>
</form>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="#/">
                    <span class="glyphicon glyphicon-share"></span>
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>