input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

p.navbar-text.pull-right {
    margin-right: 15px;
}

p.navbar-text.pull-left {
    margin-left: 15px;
}

.jga-widget-tool {
    position: absolute;
    right: 15px;
    background-color: white;
    padding-left: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 8px;
    opacity: 0.7;
    z-index : 2;
}

.youtube-widget {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}