<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-head">
            <p class="navbar-text pull-left">
                <a ng-click="model.widgetHasRequiredFieldsSaved()" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Edit Image Widget
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.updateWidget(model.widget)" class="navbar-link">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">

    <form>
        <div class="form-group">
            <label for="widget-name">Name</label>
            <input type="text" class="form-control" ng-model="model.widget.name" id="widget-name">
        </div>
        <div class="form-group">
            <label for="widget-text">Text</label>
            <input type="text" class="form-control" ng-model="model.widget.text" id="widget-text">
        </div>
        <div class="form-group">
            <label for="widget-url">URL</label>
            <input type="text" class="form-control" ng-model="model.widget.url" id="widget-url">
        </div>
        <div class="form-group">
            <label for="widget-width">Width</label>
            <input type="text" class="form-control" ng-model="model.widget.width" id="widget-width">
        </div>
    </form>
    <form id="widget-upload" action="/api/uploads"  method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="widget-upload">Upload</label>
            <input  name="myFile"   type="file" class="form-control"/>
            <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
            <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
            <input  name="userId"    value="{{model.userId}}" style="display: none"/>
            <input  name="websiteId"  value="{{model.websiteId}}" style="display: none"/>
            <input  name="pageId"  value="{{model.pageId}}" style="display: none"/>
            <button type="submit"   class="btn btn-block btn-primary">Upload Image</button>
        </div>
    </form>
    <a class="btn btn-primary  btn-block"
       href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/flickr">Flickr Search</a>
    <a class="btn btn-danger  btn-block"
       ng-click="model.deleteWidget(model.widget._id)">Delete</a>
</div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-head">
            <p class="navbar-text pull-right">
                <a href="#/profile/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </p>
        </div>
    </div>
</nav>