<div class="league_body">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-color" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-toggle-color" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Pick a League</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="https://en.wikipedia.org/wiki/UEFA_Euro_2016">About</a>
                </li>
                <li>
                    <a href="http://www.uefa.com/uefaeuro/season=2016/matches/index.html">Schedule</a>
                </li>
                <li>
                    <a href="http://www.uefa.com/uefaeuro/season=2016/standings/index.html">Standings</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container league">
    <a ng-click="model.findTeam('PremierLeague')">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect league_button">
            Premier League
        </button>
    </a>
    <a ng-click="model.findTeam('LeagueOne')">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect league_button">
            League One
        </button>
    </a>
    <a ng-click="model.findTeam('Bundesliga')">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect league_button">
            Bundesliga 1
        </button>
    </a>
    <a ng-click="model.findTeam('Bundesliga2')">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect league_button">
            Bundesliga 2
        </button>
    </a>
    <a ng-click="model.findTeam('Bundesliga3')">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect league_button">
            Bundesliga 3
        </button>
    </a>
    <a ng-click="model.findTeam('SerieA')">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect league_button">
            Serie A
        </button>
    </a>
    <a ng-click="model.findTeam('Eredivisie')">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect league_button">
            Eredivisie
        </button>
    </a>
    <a ng-click="model.findTeam('PrimeiraLiga')">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect league_button">
            Primeira Liga
        </button>
    </a>
    <a ng-click="model.findTeam('SegundaDivision')">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect league_button">
            Segunda Division
        </button>
    </a>
    <a ng-click="model.findTeam('PrimeraDivision')">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect league_button">
            Primera Division
        </button>
    </a>
    <a ng-click="model.findTeam('Ligue1')">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect league_button">
            Ligue 1
        </button>
    </a>
    <a ng-click="model.findTeam('Ligue2')">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect league_button">
            Ligue 2
        </button>
    </a>


</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <a href="../user/profile.view.client.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>


</div>