<div class="player_list_body">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-color" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle navbar-toggle-color" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Players</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="https://en.wikipedia.org/wiki/UEFA_Euro_2016">About</a>
                    </li>
                    <li>
                        <a href="http://www.uefa.com/uefaeuro/season=2016/matches/index.html">Schedule</a>
                    </li>
                    <li>
                        <a href="http://www.uefa.com/uefaeuro/season=2016/standings/index.html">Standings</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        <div ng-repeat="playername in model.playernames" class="demo-card-event mdl-card mdl-shadow--2dp">
            <div class="demo-card-event mdl-card mdl-shadow--2dp">
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        <span class="player_name">{{playername.name}}</span>
                    </a>
                </div>
                <div class="mdl-card__title mdl-card--expand player_details">
                    <h6>
                        Jersey - <span class="jersey_number">{{playername.jerseyNumber}}</span> <br><br>
                        Nationality - <span class="nationality">{{playername.nationality}}</span><br><br><br>
                        Date Of Birth - <span class="dateofbirth">{{playername.dateOfBirth}}</span><br><br>
                        Contract Until - <span class="contractuntil">{{playername.contractUntil}}</span>
                    </h6>
                    <div class="mdl-layout-spacer"></div>
                    <a> <i  id="{{playername.jerseyNumber}}" ng-click="model.liked()" class="material-icons like">grade</i></a>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>

    <!--<div ng-repeat="playername in model.playernames" class="container player_card_body">-->
    <!--<div class="container player_card">-->
    <!--<div class="left_player_card">-->
    <!--<ul class="demo-list-item mdl-list">-->
    <!--<li class="mdl-list__item">-->
    <!--<span class="mdl-list__item-primary-content player_name">-->
    <!--{{playername.name}}-->
    <!--</span>-->
    <!--</li></ul>-->
    <!--</div>-->
    <!--<div class="right_player_card">-->
    <!--{{playername.jerseyNumber}}-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="container player_card_details">-->
    <!--<div class="row_details">-->
    <!--<div class="col col_border">DoB:-->
    <!--{{playername.dateOfBirth}}</div>-->
    <!--<div class="col col_border">Contract Until:-->
    <!--{{playername.contractUntil}}</div>-->
    <!--<div class="col col_border">Nationality:-->
    <!--{{playername.nationality}}</div>-->
    <!--<div class="last">-->
    <!--<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-">-->
    <!--<input type="checkbox" id="switch-1" class="mdl-switch__input">-->
    <!--<span class="mdl-switch__label"></span>-->
    <!--</label>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="row navbar-text">
                <div class="col-xs-3 text-center">
                    <a href="../user/profile.view.client.html">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>

</div>
