<div class="team_list_body">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-color" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-toggle-color" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Teams</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="https://en.wikipedia.org/wiki/UEFA_Euro_2016">About</a>
                </li>
                <li>
                    <a href="http://www.uefa.com/uefaeuro/season=2016/matches/index.html">Schedule</a>
                </li>
                <li>
                    <a href="http://www.uefa.com/uefaeuro/season=2016/standings/index.html">Standings</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div class="container teams">
    <div class="row">
        <div ng-repeat="teamname in model.teamnames" class="col-md-6 portfolio-item">
            <div class="demo-card-square mdl-card mdl-shadow--2dp">
                <div ng-style="{'background':'url({{teamname.crestUrl}})'}" class="mdl-card__title mdl-card--expand styleLeague">{{teamname.code}}
                </div>
                <div class="mdl-card__supporting-text">
                    {{teamname.name}}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a href="#/teamplayers/{{teamname.code}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        {{teamname.squadMarketValue}} | (aka) - {{teamname.shortName}} |
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!--<ul class="list-group">-->
        <!--<li ng-repeat="teamname in model.teamnames" class="list-group-item">-->
                <!--{{teamname.name}}-->
        <!--</li>-->
    <!--</ul>-->
    {{teams}}
</div>

</div>
